.table-hover tr:hover {cursor:pointer;}
.Subscriber {background-color: lightgreen !important; color: black}
.Customer {background-color: lightblue !important; color: black}
.custom-button{margin-right:10px; border-color: white; }